* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0F0F0F;
    font-family: "Karla", sans-serif;
    color: #D9D9D9;
}

a {
    text-decoration: none;
}


.wrapper {
    display: grid;
    /* flex-direction: column; */
    /* align-items: center; */
    place-items: center;
}
header {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
/* Display picture */
.display-pic {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #1C1C1C;
    
}

.profile-name {
    padding: 12px 0;
    font-weight: 500;
    font-size:16px;

}

.about {
    font-weight: 300;
    font-size: 14px;
    max-width: 628px;
    text-align: center;
}

section {
   display: flex; 
   flex-direction: column;
   width:600px;
}

.card-link {
    text-decoration: none;
    color:inherit;
}

.card {
    background-color: #000;
    /* display: flex; */
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: 200px 1fr;
    border-radius: 6px;
    grid-template-rows: 1fr;
    margin-top: 10px;
    transition: all 0.2s ease-in;
}

.card-img {
    width:200px;
    height:90px;
    object-fit: cover;
    border-radius: 6px 0px 0px 6px;
    transition: all 0.2s ease-in;
}

.card-info {
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}

.card:hover .card-info{

    color: #6A6A6A;
}

.card:hover .card-img{
    opacity: 50%;
}
/* .card-info:hover{
} */


/* FOOTER */
.socials{
    padding: 40px 0px;
    display: flex;
    width:300px;
    justify-content: space-evenly;
}

.img-socials{
    width: 25px; 
    transition: all 0.2s ease-in;
}

.img-socials:hover{
    opacity: 60%;
}


@media all and (max-width:600px){
    section {
        width: 300px;
    }

    .card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .card-img {
        width: 300px;
        border-radius: 6px 6px 0 0;
    }

    .card-info {
        text-align: center;
    }
}