.row, .row-reverse {
    display: flex;
}

.row {
    flex-direction: row;
    color:red;
}

.row-reverse {
    flex-direction: row-reverse;
    color:pink;
}


.archieve-heading{
    max-width: 510px;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 10px 0px;
    transition: 0.5s all ease-in-out;
}


.archieve-heading b {
    font-weight: 800;
}

.archieve-date{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
    padding: 12px 0px;
}

.right {
    position: relative;
}

.right p {
    font-size:12px;
    font-weight: 200;
    letter-spacing: 0.5px; 
    padding:  100px 80px;
}  

.left img {
    max-width:510px;
}