.App {
  display: grid;
  place-items: center;
  padding-top: 100px;
  font-size:19px;
}

.App p {
  font-family: 'Lato',sans-serif;
  font-weight: lighter;
  font-size:13px;

}

.App img{
  fill:red;
}