:root {
  --background-color:#050505;
  --foreground-color: #F2F2F2;  
  --foreground-grey: #909090;
}

* {
  margin:0px;
  padding:0px;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
